.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

header {
	margin-bottom: 15%;

	@include forSize(aboveLandscapePhone) {
		margin-bottom: 8%;
	}
}

h1 {
	font-family: $headerFont;
	font-size: calc(2.8rem + (72 - 28) * ((100vw - 320px) / (1800 - 320)));
	color: white;
	text-align: center;
}

h2 {
	font-family: $quoteFont;
	font-size: calc(2.4rem + (40 - 24) * ((100vw - 320px) / (1800 - 320)));
	text-align: center;
	line-height: 1.2;
	font-weight: 400;
	margin-top: 0;
}

html {
    font-family: $textFont;
    font-size: 62.5%;
}

a {
	color: red;
	text-decoration: none;
	transition: 0.3s linear;
	&:hover {
		color: blue;
	}
}

body {
	background: #000 url("../assets/backgroundLandscape.jpg") center;
	background-size: cover;
	height: 100vh;
}

main {
	@include forSize(aboveLandscapePhone) {
		display: flex;
		flex-direction : row-reverse;
	}
}

.speech-bubble {
	background: rgba(255, 255, 255, 0.85);
	position: relative;
	border-radius: 25px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.85);
    border-bottom: 0;
    border-right: 0;
    margin-left: -10.5px;
    margin-bottom: -21px;
	
	@include forSize(aboveLandscapePhone) {
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right-color: rgba(255, 255, 255, 0.85);
		border-left: 0;
		border-bottom: 0;
		margin-top: -10px;
		margin-left: -20px;
	}
}

.form {
	margin: 0 5%;

	@include forSize(aboveLandscapePhone) {
		width: 50%;
		margin: 0;
		margin-top: 5%;
	}
}

form {
	display: flex;
	flex-wrap: wrap;
	margin: 2%;
	padding: 4%;
}

.quote {
	padding: 4%;
	margin: 0 5%;
}

.quoteDisplay {
	font-family: $quoteFont;
	margin: 0;
	font-size: calc(2.4rem + (28 - 24) * ((100vw - 320px) / (1800 - 320)));
	
	@include forSize(aboveLandscapePhone) {
		width: 50%;
		position: absolute;
		margin-top: 5%;
	}
}

.icon {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: calc(33% - 4%);
	margin: 0 2%;
	transition: 0.3s linear;
	&:hover {
			transform: scale(1.25);
		}
	input[type="image"] {
		width: 100%;
	}
}

label {
	margin-top: 5%;
	text-align: center;
	font-family: $quoteFont;
	font-size: 1.2rem;
	line-height: 1.2;
}

figure {
	margin-top: 10%;
	margin-bottom: 0;

	@include forSize(aboveLandscapePhone) {
		width: 50%;
	}

	@include forSize(aboveTabletLandscape) {
		margin-top: 0;
	}

	img {
		display: block;
		margin: 0;
	}
}

footer {
	text-align: center;
	margin: 0;
	margin-bottom: 0;
	background: rgba(255, 255, 255, 0.85);
	p {
		// margin-bottom: 0;
		margin: 0;
	}
}