.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 2.5rem;
}

header {
	margin-bottom: 15%;

	@include forSize(aboveLandscapePhone) {
		margin-bottom: 8%;
	}
}

h1 {
	font-family: $headerFont;
	font-size: calc(2.8rem + (72 - 28) * ((100vw - 320px) / (1800 - 320)));
	color: white;
	text-align: center;
}

h2 {
	font-family: $quoteFont;
	font-size: calc(2.4rem + (40 - 24) * ((100vw - 320px) / (1800 - 320)));
	text-align: center;
	line-height: 1.2;
	font-weight: 400;
	margin-top: 0;
}

html {
    font-family: $textFont;
    font-size: 62.5%;
}

a {
	color: red;
	text-decoration: none;
	transition: 0.3s linear;
	&:hover, &:focus {
		color: blue;
	}
}

body {
	background: #000 url("../assets/backgroundLandscape.jpg") center;
	background-size: cover;
	position: relative;
  	min-height: 100vh;
}

main {
	@include forSize(aboveLandscapePhone) {
		display: flex;
		flex-direction : row-reverse;
	}
}

.speechBubble {
	background: rgba(255, 255, 255, 0.85);
	position: relative;
	border-radius: 25px;
}

.speechBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.85);
    border-bottom: 0;
    border-right: 0;
    margin-left: -10.5px;
    margin-bottom: -21px;
	
	@include forSize(aboveLandscapePhone) {
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right-color: rgba(255, 255, 255, 0.85);
		border-left: 0;
		border-bottom: 0;
		margin-top: -10px;
		margin-left: -20px;
	}
}

.form {
	margin: 0 5%;

	@include forSize(aboveLandscapePhone) {
		width: 50%;
		margin: 0;
		margin-top: 5%;
	}
}

form {
	display: flex;
	flex-wrap: wrap;
	margin: 2%;
	padding: 4%;
}

.quote {
	padding: 4%;
	margin: 0 5%;
}

.quoteDisplay {
	font-family: $quoteFont;
	margin: 0;
	font-size: calc(2.4rem + (28 - 24) * ((100vw - 320px) / (1800 - 320)));
	
	@include forSize(aboveLandscapePhone) {
		width: 50%;
		position: absolute;
		margin-top: 5%;
	}
}

.icon {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: calc(33% - 4%);
	margin: 0 2%;
	transition: 0.3s linear;
	&:hover, &:focus {
		transform: scale(1.25);
	}
	input[type="image"] {
		width: 100%;
	}
}

label {
	margin-top: 5%;
	text-align: center;
	font-family: $quoteFont;
	font-size: 1.2rem;
	line-height: 1.2;

	@include forSize(abovePortraitPhone) {
		font-size: 1.6rem;
	}

	@include forSize (aboveTabletLandscape) {
		font-size: 1.8rem;
	}
}

figure {
	margin-top: 10%;
	margin-bottom: 0;

	@include forSize(aboveLandscapePhone) {
		width: 50%;
	}

	@include forSize(aboveTabletLandscape) {
		margin-top: 0;
	}
}

.quoteBubble {
	display: flex;
	.twitter-share-button {
		justify-content: flex-end;
		align-content: flex-end;
	}
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: calc(2.4rem + (28 - 24) * ((100vw - 320px) / (1800 - 320)));
	margin-top: -2%;
	position: relative;
	border-radius: 25px;
	// right: -15%;
	&:hover, &:focus {
		border-bottom: 4px solid white;
	}
}

button:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #4CAF50;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

img {
	display: block;
	margin: 0;
}

footer {
	text-align: center;
	margin: 0;
	background: rgba(255, 255, 255, 0.85);
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 2.5rem;            /* Footer height */
	p {
		margin: 0;
	}
}
